*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 22px;
}
main {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}
h2 {
    margin-bottom: 4px;    
    margin-top: 2px;
}
p {
    margin-bottom: 4px;    
    line-height: 30px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: blue;
    transition: color 0.5s;
}
.subtitle {
    margin-top: 12px;
    font-size: 22px;
    font-weight: bold;
}
.comment {
    font-size: 20px;
    line-height: 24px;
}
ul {
    list-style-type: none;
}
li {
    margin-bottom: 6px;
}
.red {
    color: red;
}
.hide {
    display: none;
}
.akafist__title,
.psalmy__title,
.chasoslov__title {
    cursor: pointer;
}
.akafist__title:hover,
.psalmy__title:hover,
.chasoslov__title:hover {
    color: blue;
    transition: color 0.5s;
}
.akafist__list,
.chasoslov__list,
.psalmy__list {
    margin-left: 6px;
}
.title__inner {
    display: flex;
    justify-content: space-between;
}
.language__inner {
    display: flex;
}
.trans,
.ukr {
    margin-right: 2px;
    cursor: pointer;
}
.active {
    color: blue;
}
.psalov33__content-trans,
.psalov33__content-ukr {
    font-size: 22px;
}
.translater {
    font-size: 14px;
    margin-top: 4px;
    text-align: right;
}