*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 22px;
}
main {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}
h2 {
    margin-bottom: 4px;    
    margin-top: 2px;
}
p {
    margin-bottom: 4px;    
    line-height: 30px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: blue;
}
.subtitle {
    margin-top: 12px;
    font-size: 22px;
    font-weight: bold;
}
.comment {
    font-size: 20px;
    line-height: 24px;
}
ul {
    list-style-type: none;
}
li {
    margin-bottom: 6px;
}
.red {
    color: red;
}