@import url('fonts/fonts.css');

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 22px;
}
.paslom__title {
    margin-right: 20px;
}
.cs-style p {
    font-family: triucs;
    font-size: 26px;        
    line-height: 150%;
}
.cs-style .comment {    
    font-size: 22px;            
}
.center {
    text-align: center;
}
main {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}
h2 {
    margin-bottom: 4px;    
    margin-top: 2px;
}
p {
    margin-bottom: 4px;    
    line-height: 30px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: blue;
    transition: color 0.5s;
}
.subtitle {
    margin-top: 12px;    
    font-weight: bold;
}
.comment {    
    line-height: 24px;
}
ul {
    list-style-type: none;
}
li {
    margin-bottom: 6px;
}
.red {
    color: red;
}
.gray {
    color: gray;
}
.hide {
    display: none;
}
.akafist__title,
.psalmy__title,
.chasoslov__title,
.bogosluzhbovi__title {
    cursor: pointer;
}
.akafist__title:hover,
.psalmy__title:hover,
.chasoslov__title:hover,
.bogosluzhbovi__title:hover {
    color: blue;
    transition: color 0.5s;
}
.akafist__list,
.chasoslov__list,
.psalmy__list,
.bogosluzhbovi__list {
    margin-left: 6px;
}
.title__inner {
    display: flex;
    justify-content: space-between;
}
.language__inner {
    display: flex;
}
.trans,
.ukr,
.cs {
    margin-right: 2px;
    cursor: pointer;
}
.active {
    color: blue;
}
.calendar__title {
    cursor: pointer;
}
.month {
    cursor: pointer;
    width: min-content;
}
.month:hover {
    background-color: lightcyan;
    transition: background-color 0.3s;
}
.paragraph {
    margin-left: 15px;
}
.october__title,
.november__title,
.december__title {
    border-bottom: 3px solid blue;
}
@media (max-width: 760px) {
    .title__inner {
        flex-wrap: wrap;
    }
    .language__inner {
        margin-left: auto;
    }
    .paragraph {
        margin-left: 10px;
    }
}
